@model OrderDetailsViewModel

@{
    ViewData["Title"] = $"Детайли за поръчка номер {Model.Order.Id}";

    var isThereAddress = !string.IsNullOrEmpty(Model.UserInfo.City) && !string.IsNullOrEmpty(Model.UserInfo.Address);
    var cityAndAddress = isThereAddress ? $"гр. {Model.UserInfo.City}, {Model.UserInfo.Address}" : "Не е попълнен";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="row margin-top">
    <div class="col-md-8 col-sm-8">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Продавач</th>
                    <th>Поръчител</th>
                    <th>Дата</th>
                    <th>И-мейл</th>
                    <th>Адрес за доставка</th>
                    <th>Телефон на клиента</th>
                    <th>Цена на поръчката</th>
                    <th>Брой артукули</th>
                    <th>Книги</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Order.Trader</td>
                    <td>@Model.Order.Customer</td>
                    <td>@Model.Order.OrderDate.ToShortDateString()</td>
                    <td>@Model.UserInfo.Email</td>
                    <td>@cityAndAddress</td>
                    <td>@(string.IsNullOrEmpty(Model.UserInfo.PhoneNumber) ? "Липсва" : Model.UserInfo.PhoneNumber) </td>
                    <td>@Model.Order.TotalPrice.ToBgnPrice()</td>
                    <td>@Model.Order.Quantity</td>
                    <td>
                        @foreach (var item in Model.Order.BooksIdsAndTitles)
                        {
                            <a asp-area="Books" asp-controller="Items" asp-action="Details" asp-route-id="@item.BookId" class="btn btn-sm btn-link">@item.BookTitle</a>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

