@model BookDetailsViewModel

@{
    ViewData["Title"] = $"{Model.Book.Title}";
}

@{
    var imgSrc = string.Empty;
    if (Model.Book.CoverPicture != null)
    {
        var base64 = Convert.ToBase64String(Model.Book.CoverPicture);
        imgSrc = String.Format("data:image;base64,{0}", base64);
    }
}

<div class="w3l_banner_nav_right">
    <div class="agileinfo_single">
        @if (!string.IsNullOrEmpty(imgSrc))
        {
            <div class="col-md-4 agileinfo_single_left">
                <img id="example" src="@imgSrc" alt=" " class="img-responsive" />
            </div>
        }
        <div class="col-md-8 agileinfo_single_right">
            <div class="w3agile_description">
                <h3>@Model.Book.Title</h3>
                <h4>@Model.Book.AuthorNames</h4>
                <p>Категория: @Model.Book.Category</p>
                <p>Състояние: @Model.Book.Condition</p>
                <p>Издателство: @(string.IsNullOrEmpty(Model.Book.Publisher) ? "Не е попълнено" : Model.Book.Publisher)</p>
                <p>Година: @Model.Book.PublicationYear</p>
                <p>Страници: @(string.IsNullOrEmpty(Model.Book.NumberOfPages.ToString()) ? "Не е въведен" : Model.Book.NumberOfPages.ToString())</p>
                <p>Налични бройки: @Model.Book.BooksAvailable</p>
                <p>Език: @Model.Book.Language</p>
                <p>Корици: @Model.Book.Coverage</p>
            </div>
            <div class="snipcart-item block">
                <div class="snipcart-thumb agileinfo_single_right_snipcart">
                    <h4>@Model.Book.Price.ToBgnPrice()</h4>
                </div>
                <div class="snipcart-details agileinfo_single_right_details">
                    @if (!Model.IsOrderedByUser)
                    {
                        if (Model.Book.BooksAvailable > 0)
                        {
                            <form asp-action="Order" asp-route-id="@Model.Book.Id" method="post">
                                <input type="submit" class="btn btn-sm btn-success" value="Поръчай" />
                            </form>
                        }
                        else
                        {
                            <form asp-action="Order" asp-route-id="@Model.Book.Id" method="post">
                                <input type="submit" class="btn btn-sm btn-success" disabled value="Няма налични бройки в момента" />
                            </form>
                        }
                    }
                    else
                    {
                        <form asp-action="Unorder" asp-route-id="@Model.Book.Id" method="post">
                            <input type="submit" class="btn btn-sm btn-danger" value="Отмени поръчката" />
                        </form>
                    }
                </div>
            </div>
        </div>
        @if (Model.IsThisBookBelongsToTheCurrentUser)
        {
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Book.Id" class="btn btn-sm btn-info">Редактирай</a>
                <a asp-action="Delete" asp-route-id="@Model.Book.Id" class="btn btn-sm btn-danger">Изтрий</a>
            </div>
        }
        <div class="clearfix"></div>
    </div>
</div>


